altgraph==0.17
asgiref==3.3.1
astroid==2.4.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
dj-database-url==0.5.0
Django==3.1.5
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
gunicorn==20.0.4
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
normalize==2.0.2
nose==1.3.7
pefile==2019.4.18
prettytable==2.0.0
psycopg2==2.8.6
PyInstaller==3.6
pylint==2.6.0
pytz==2020.5
pywin32-ctypes==0.2.0
requests==2.25.1
richenum==1.3.1
SimpleQIWI==0.7
six==1.15.0
smmap==3.0.4
sqlparse==0.4.1
tabulate==0.8.7
toml==0.10.2
urllib3==1.26.2
uuid==1.30
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1
