{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Margot Robbie</h1>
        <img src="{% static 'main/img/margo_logo.jpg' %}" alt="">
        <img src="{% static 'main/img/margo_logo2.jpg' %}" alt="">
        <img src="{% static 'main/img/margo_logo3.jpg' %}" alt="">
        <p class="m-3">Ма́рго Эли́с Ро́бби (англ. Margot Elise Robbie; род. 2 июля 1990, Дэлби, Квинсленд, Австралия) — австралийская актриса и кинопродюсер.

Начала карьеру в 2007 году в Австралии. Известность на родине ей принесла роль Донны Фридмен в телесериале «Соседи» (2008—2011). Переехав в США в 2011 году, она сыграла Лору Кэмерон в телесериале «Пан Американ», после чего последовало множество предложений крупных ролей в художественных фильмах. Наиболее примечательные из них — Шарлотта в «Бойфренд из будущего» (2013), Наоми Лапалья в «Волк с Уолл-стрит» (2013), за которую Робби получила премию «Империя», Джейн Портер в «Тарзан. Легенда» (2016), Харли Квинн в «Отряд самоубийц» (2016), за которую она получила премию «Critics’ Choice Movie Awards».

Роль Тони Хардинг в фильме «Тоня против всех» (2017) принесла Марго премии «AACTA Awards», «Critics’ Choice Movie Awards», номинации на премии «Оскар», «Золотой глобус», BAFTA и ряд других. Роль Кайлы Посписил в фильме «Скандал» (2019) принесла Марго премию «AACTA Awards», номинации на премии «Оскар», «Золотой глобус», BAFTA, Гильдии киноактёров США, «Critics’ Choice Movie Awards» и ряд других.</p>
        <a href="{% url 'margo_home'%}"><button class="btn btn-warning">Films</button><a/>
    </div>
{% endblock %}